<nav class="header">
  <a href="#" class="nav-link boards-link">My Trees</a>
  <a class="brand" href="#">Treelo</a>
  <ul>
  <% if signed_in? %>
    <li><%= link_to "Sign out", session_url, method: :delete, class: 'nav-link' %></li>
  <% else %>
    <li><%= link_to "Sign up", new_user_url, class: 'nav-link' %></li>
    <li><%= link_to "Log in", new_session_url, class: 'nav-link' %></li>
  <% end %>
  </ul>
</nav>
